@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fontRaleway: "raleway"; /* Crea variable para tipografia */

$mainColor:#b1b7d1;
$secondaryColor:#7a6174;


